In [0]:
pip install regex

Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (2019.12.9)

In [0]:
import numpy as np
import pandas as pd
import regex as re

In [0]:
dataframe=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",compression='infer',lines=True)

In [0]:
dataframe.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
dataframe.isnull().sum()

reviewerID          0
asin                0
reviewerName      459
helpful             0
reviewText          0
overall             0
summary             0
unixReviewTime      0
reviewTime          0
num_chars           0
num_word            0
avg_wordlength      0
dtype: int64

In [0]:
dataframe['num_chars']=dataframe['reviewText'].apply(len)
dataframe.head()

       reviewerID        asin  ...   reviewTime num_chars
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004       972
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007      5355
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011       495
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006      3648
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013       704

[5 rows x 10 columns]

In [0]:
def word_count(string):
  words=string.split()
  return len(words)

In [0]:
dataframe['num_word']=dataframe['reviewText'].apply(word_count)
dataframe.head()

       reviewerID        asin  ... num_chars num_word
0  A32T2H8150OJLU  B00000JBLH  ...       972      186
1  A3MAFS04ZABRGO  B00000JBLH  ...      5355      911
2  A1F1A0QQP2XVH5  B00000JBLH  ...       495       96
3   A49R5DBXXQDE5  B00000JBLH  ...      3648      603
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...       704      120

[5 rows x 11 columns]

In [0]:
##Average Word length
def average_wordlength(string):
  words=string.split()
  length=[len(word) for word in words]
  try:
    avg_length=sum(length)/len(words)
  except ZeroDivisionError:
    avg_length=0
  return avg_length

In [0]:
dataframe['avg_wordlength']=dataframe['reviewText'].apply(average_wordlength)
dataframe.head()

       reviewerID        asin  ... num_word avg_wordlength
0  A32T2H8150OJLU  B00000JBLH  ...      186       4.182796
1  A3MAFS04ZABRGO  B00000JBLH  ...      911       4.877058
2  A1F1A0QQP2XVH5  B00000JBLH  ...       96       4.093750
3   A49R5DBXXQDE5  B00000JBLH  ...      603       5.051410
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...      120       4.816667

[5 rows x 12 columns]

In [0]:
##to find a tweet that starts with hastag
def hashtag(string):
  text=string.split()
  Hashtag=[]
  for word in text:
    if word.startswith('#'):
      Hashtag.append(word)
    return Hashtag

In [0]:
dataframe['hashtag']=dataframe['reviewText'].apply(hashtag)
dataframe.head()

       reviewerID        asin  ... avg_wordlength hashtag
0  A32T2H8150OJLU  B00000JBLH  ...       4.182796      []
1  A3MAFS04ZABRGO  B00000JBLH  ...       4.877058      []
2  A1F1A0QQP2XVH5  B00000JBLH  ...       4.093750      []
3   A49R5DBXXQDE5  B00000JBLH  ...       5.051410      []
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...       4.816667      []

[5 rows x 13 columns]

In [0]:
def num_vowels(string):
  vowels=('aeiouAEIOU')
  B=[each for each in string if each in vowels]
  return len(B)

vowels=('aeiouAEIOU')

In [0]:
dataframe['num_vowels']=dataframe['reviewText'].apply(num_vowels)
dataframe.head()

       reviewerID        asin  ... hashtag num_vowels
0  A32T2H8150OJLU  B00000JBLH  ...      []        279
1  A3MAFS04ZABRGO  B00000JBLH  ...      []       1504
2  A1F1A0QQP2XVH5  B00000JBLH  ...      []        134
3   A49R5DBXXQDE5  B00000JBLH  ...      []       1089
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...      []        208

[5 rows x 14 columns]

In [0]:
def num_consonants(string):
  vowels=('aeiouAEIOU')
  C=[]
  for i in string:
    if i!=vowels:
      C.append(i)
  # B=[each for each in string if not in vowels]
  return len(C)

# vowels=('aeiouAEIOU')

In [0]:
dataframe['num_consonants']=dataframe['reviewText'].apply(num_consonants)
dataframe.head()

       reviewerID        asin  ... num_vowels num_consonants
0  A32T2H8150OJLU  B00000JBLH  ...        279            972
1  A3MAFS04ZABRGO  B00000JBLH  ...       1504           5355
2  A1F1A0QQP2XVH5  B00000JBLH  ...        134            495
3   A49R5DBXXQDE5  B00000JBLH  ...       1089           3648
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...        208            704

[5 rows x 15 columns]

In [0]:
import spacy

In [0]:
text=" This is 1my 23city.Tanmay is my name."
nlp=spacy.load('en_core_web_sm')

In [0]:
doc=nlp(text)
print(doc)

This is my city.Tanmay is my name.

In [0]:
# tokens=[token.text for  token in doc]
# print(tokens)
tokens=[]
for token in doc:
  tokens.append(token)
print(tokens)

[This, is, my, city, ., Tanmay, is, my, name, .]

In [0]:
doc1=nlp(u"Hello! i don't know what i am doing.")
lemmas=[]
for token  in doc1:
  c=token.lemma_
  lemmas.append(c)
print(lemma)

['Hello!12', 'i4', 'do', 'not', 'know', 'what', 'i', 'be', 'do', '.']

In [0]:
senetence=" ".join(lemmas)
senetence

'hello ! i do not know what i be do .'

In [0]:
doc1=nlp(text)
pos=[]
for token  in doc1:
  pos.append(token.pos_)
 
print(pos)

['SPACE', 'DET', 'VERB', 'ADJ', 'NUM', 'PUNCT', 'PROPN', 'VERB', 'DET', 'NOUN', 'PUNCT']

In [0]:
pos.count('PROPN')

1